.container{
	box-sizing: border-box;
	border: 2px solid #4CAEE3;
	height: 90vh;
}
#top{
	margin-top: 2%;
	text-align: center;
	border-bottom: 2px solid #4CAEE3;
}
#top-content{
	margin-bottom: 40px;
}
#left{
	float:left;
	margin-top: 0px;
	margin-left: 150px;
	width: 40%;
	border-right: 2px solid #4CAEE3;
	height: 76.5vh;
}
#left-content{
	margin-top: 80px;
}

#right{
	float:right;
	margin-right: 150px;
}
#table_1{
	margin-top: 50px;
	margin-right:70px;
}
#studentlabel{
	float:left;
	font-weight: bold;
	padding-top: 80px;
	padding-right: 0px;
	margin-bottom: 20px;
}
button{
	border-radius: 4px;
	background-color:#4CAEE3;
	margin-left: 20px;
}
label{
   margin-right:20px;
   position: relative;
	 font-weight: bold;
}
table {
    border-spacing: 10px;
    border-collapse: collapse;
    text-align: center;
}
table, td, th {
    border: 2px solid black;
    width: 230px;
}
th{
	text-align: center;
}
